@use 'sass:color';

%placeholder {
  background-color: $gray-100;
  width: 100%;
  aspect-ratio: 1;
  border-radius: $input-border-radius;
  cursor: pointer;

  @include media-breakpoint-up(md) {
    width: 140px;
    height: 140px;
  }
}

.media-selector {
  &--placeholder {
    @extend %placeholder;

    border: 1px dashed $gray-300;
  }

  &--preview {
    position: relative;

    img {
      @extend %placeholder;

      object-fit: cover;
      border: 1px solid $gray-300;
    }
  }

  &--library-item {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    + .media-selector--library-item {
      border-top: 1px solid $gray-200;
    }

    img {
      width: 80px;
      height: 80px;
      aspect-ratio: 1;
      object-fit: cover;
      cursor: pointer;
    }

    &.selected {
      background-color: rgba($primary, 0.2);

      + .selected {
        border-color: rgba($primary, 0.3);
      }
    }

    &.disabled:not(.selected) {
      opacity: 0.6;
    }
  }

  &--remove-btn {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 28px;
    height: 28px;
    color: $danger;
    background-color: $white;
    border: 1px solid color.mix($danger, $white, 40%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &--used {
    width: 50px;
    text-align: center;
  }

  &--created {
    width: 130px;
    text-align: right;
  }

  .btn {
    min-width: 120px;
  }
}

.file-tree {
  height: 100%;
  border-right: 1px solid $gray-200;
  border-left: 1px solid $dark;

  li {
    cursor: pointer;
  }

  > .file-tree--folder {
    > .file-tree--line {
      width: 1rem;
    }
  }

  &--folder {
    ul {
      margin-left: 1rem;

      .file-tree--line {
        margin-left: 0.25rem;
      }
    }

    > .title .fa-folder-open {
      display: none;
    }

    > .title .fa-folder {
      display: inline-block;
    }

    .title {
      transition: color 0.2s ease-in-out;

      &:hover, &:focus {
        color: $primary;
      }
    }

    &.selected {
      > .title {
        color: $primary;
      }

      > .title .fa-folder-open {
        display: inline-block;
      }

      > .title .fa-folder {
        display: none;
      }
    }
  }

  &--line {
    border-bottom: 1px solid $dark;
    border-left: 1px solid $dark;
    height: 0.75rem;
    width: 0.75rem;
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-left: -1px;
  }
}

.image-selection {
  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
}
